{% extends 'index.html' %}
{% load custom_tags %}

{% block title %}
Create new
{% endblock title %}

{% block content %}
<section class="post-news-area section-padding-100-0 mb-70">
    <div class="container">
        <div class="row justify-content-center">
            <div class="post-a-comment-area mb-30 clearfix">
                {% if is_update %}
                    <h4 class="mb-50">{{current_user.username}}, на этой странице вы можете отредактировать свою новость!</h4>
                {% else %}
                    <h4 class="mb-50">{{current_user.username}}, на этой странице вы можете опубликовать новость!</h4>
                {% endif %}
                <div class="contact-form-area">
                    <form action="" method="post" enctype="multipart/form-data" style="font-size: 20px">
                        {% csrf_token %}
                        <div class="row">
                            {{ form.non_field_errors }}
                            <div class="col-12">
                                {{ form.category.errors }}
                                <label style="font-size: 20px; font-weight: bold"
                                       for="{{ form.category.id_for_label }}">Категория:</label>
                                {{ form.category }}
                            </div>
                            <div class="col-12">
                                {{ form.title.errors }}
                                <label style="font-size: 20px; margin-top: 20px; font-weight: bold"
                                       for="{{ form.title.id_for_label }}">Заголовок статьи:</label>
                                {{ form.title }}
                            </div>
                            <div class="col-12">
                                {{ form.text.errors }}
                                <label style="font-size: 20px; margin-top: 20px; font-weight: bold"
                                       for="{{ form.text.id_for_label }}">Содержание статьи:</label>
                                {{ form.text }}
                            </div>
                            <div class="col-12">
                                {{ form.picture.errors }}
                                <label style="font-size: 20px; margin-top: 20px; font-weight: bold"
                                       for="{{ form.picture.id_for_label }}">Загрузите обложку статьи:</label>
                                {{ form.picture }}
                            </div>
                            <div class="col-12">
                                <input class="btn newsbox-btn mt-30" type="submit" value="Опубликовать"/>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>


{% endblock content %}