{% extends 'index.html' %}

{% block title %}
All posts
{% endblock title %}

{% block content %}
<div class="top-news-area section-padding-100">
    <div class="container">
        <div class="row">
            {% if posts %}
                {% for p in posts %}
                    <!-- Single News Area -->
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-blog-post style-2 mb-5">
                            <!-- Blog Thumbnail -->
                            <div class="blog-thumbnail">
                                <a href="{{ p.get_absolute_url }}"><img src="{{ p.picture.url }}" alt="Обложка новости"></a>
                            </div>

                            <!-- Blog Content -->
                            <div class="blog-content">
                                <span class="post-date">{{ p.datetime.date }}</span>
                                <a href="{{ p.get_absolute_url }}" class="post-title">{{ p.title }}</a>
                                <a href="#" class="post-author">{{ p.author }}</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <h3>На сайте нет новостей!</h3>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}