{% extends 'index.html' %}
{% load custom_tags %}


{% block title %}
All posts
{% endblock title %}

{% block content %}
<section class="breaking-news-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                        <div id="breakingNewsTicker" class="ticker" style="height: 60px;">
                            <div style="display: flex; justify-content: space-around">
                                <form id="search-form" style="display: flex" action="" method="get">
                                    {{ filterset.form.as_p }}
                                    <input id="search-btn" class="btn newsbox-btn btn-1 mt-15" type="submit" value="Найти"/>
                                </form>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </section>

<div class="top-news-area section-padding-100">
    <div class="container">
        <div class="row">
            {% if posts %}
                {% for p in posts %}
                    <!-- Single News Area -->
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-blog-post style-2 mb-5">
                            <!-- Blog Thumbnail -->
                            <div class="blog-thumbnail">
                                {% if p.picture %}
                                    <a href="{{ p.get_absolute_url }}"><img src="{{ p.picture.url }}" alt="Обложка новости"></a>
                                {% else %}
                                    <a href="{{ p.get_absolute_url }}"><img src="../media/uploads/default.jpg" alt="Обложка новости"></a>
                                {% endif %}
                            </div>

                            <!-- Blog Content -->
                            <div class="blog-content">
                                <span class="post-date">{{ p.datetime.date }}</span>
                                <a href="{{ p.get_absolute_url }}" class="post-title">{{ p.title }}</a>
                                <a href="#" class="post-author">{{ p.author }}</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <h3>На сайте нет новостей!</h3>
            {% endif %}
        </div>
    </div>




    <!-- ##### Start Pagination ##### -->
    <div style="display: flex; justify-content: center">
        {% if page_obj.paginator.num_pages > 1 %}
            {% if page_obj.number == 1 %}
                <a href="?{% url_replace page=1 %}">
                    <button class="btn newsbox-btn btn-4 mt-15" disabled="true" style="background-color: #000000">1</button>
                </a>
                {% if page_obj.has_next and page_obj.next_page_number < page_obj.paginator.num_pages %}
                    <a href="?{% url_replace page=page_obj.next_page_number  %}">
                        <button class="btn newsbox-btn btn-4 mt-15">{{page_obj.next_page_number}}</button>
                    </a>
                {% endif %}
            {% else %}
                <a href="?{% url_replace page=1 %}">
                    <button class="btn newsbox-btn btn-4 mt-15">1</button>
                </a>
            {% endif %}


            {% if page_obj.number > 1 and page_obj.number < page_obj.paginator.num_pages %}
                {% if page_obj.has_previous and page_obj.previous_page_number > 1 %}
                    <a href="{% url_replace page=page_obj.previous_page_number %}">
                        <button class="btn newsbox-btn btn-4 mt-15">{{page_obj.previous_page_number}}</button>
                    </a>
                {% endif %}

                <a href="?{% url_replace page=page_obj.number %}">
                    <button class="btn newsbox-btn btn-4 mt-15" disabled="true" style="background-color: #000000;" >{{ page_obj.number }}</button>
                </a>

                 {% if page_obj.has_next and page_obj.next_page_number < page_obj.paginator.num_pages %}
                    <a href="?{% url_replace page=page_obj.next_page_number %}">
                        <button class="btn newsbox-btn btn-4 mt-15">{{page_obj.next_page_number}}</button>
                    </a>
                {% endif %}
            {% endif %}

            {% if page_obj.number == page_obj.paginator.num_pages and page_obj.number > 1 %}
                {% if page_obj.has_previous and page_obj.previous_page_number > 1 %}
                    <a href="?{% url_replace page=page_obj.previous_page_number %}">
                        <button class="btn newsbox-btn btn-4 mt-15">{{page_obj.previous_page_number}}</button>
                    </a>
                {% endif %}
                 <a href="?{% url_replace page=page_obj.paginator.num_pages %}">
                    <button class="btn newsbox-btn btn-4 mt-15" disabled="true" style="background-color: #000000">{{ page_obj.paginator.num_pages }}</button>
                 </a>
            {% elif page_obj.paginator.num_pages > 1  %}
                <a href="?{% url_replace page=page_obj.paginator.num_pages %}">
                    <button class="btn newsbox-btn btn-4 mt-15">{{ page_obj.paginator.num_pages }}</button>
                </a>
            {% endif %}
        {% endif %}



    </div>
    <!-- ##### End Pagination ##### -->

</div>

{% endblock content %}
