<tr>
    <th><label for="id_category">Категория:</label></th>
    <td>
        <select name="category" required id="id_category">
            <option value="" selected>---------</option>
            <option value="1">Авто</option>
            <option value="2">Технологии</option>
            <option value="3">Официально</option>
            <option value="4">Кошелек</option>
            <option value="5">Кино</option>
        </select>
    </td>
</tr>

<tr>
    <th><label for="id_title">Заголовок:</label></th>
    <td>
        <input type="text" name="title" required id="id_title">
    </td>
</tr>

<tr>
    <th><label for="id_text">Текст статьи:</label></th>
    <td>
        <textarea name="text" cols="40" rows="10" required id="id_text"></textarea>
    </td>
</tr>

<tr>
    <th><label for="id_picture">Загрузите картинку для статьи:</label></th>
    <td>
        <input type="file" name="picture" id="id_picture">
    </td>
</tr>




                                <form action="" method="get" style="font-size: 20px">
                                    {% csrf_token %}
                                    <div class="row" style="display: flex; justify-content: center">
                                        {{ filterset.form.non_field_errors }}
                                        <div class="col-12">
                                            {{ filterset.form.category.errors }}
                                            {{ filterset.form.category }}
                                        </div>
                                        <div class="col-12">
                                            {{ filterset.form.datetime.errors }}
                                            <label style="font-size: 20px; margin-top: 20px; font-weight: bold"
                                                   for="{{ filterset.form.datetime.id_for_label }}">Новее чем:</label>
                                            {{ filterset.form.datetime }}
                                        </div>
                                        <div class="col-12">
                                            {{ filterset.form.title.errors }}
                                            <label style="font-size: 20px; margin-top: 20px; font-weight: bold"
                                                   for="{{ filterset.form.title.id_for_label }}">Поиск по заголовоку:</label>
                                            {{ filterset.form.title }}
                                        </div>
                                        <div class="col-12">
                                            {{ filterset.form.text.errors }}
                                            <label style="font-size: 20px; margin-top: 20px; font-weight: bold"
                                                   for="{{ filterset.form.text.id_for_label }}">Поиск по содержанию:</label>
                                            {{ filterset.form.text }}
                                        </div>
                                    </div>
                                    <input class="btn newsbox-btn btn-1 mt-15" type="submit" value="Найти"/>
                                </form>



1. Не загружаются файлы при добавлении новости через страницу! (через админку все работает!)
